@import "node_modules/sass-google-fonts/src/GoogleFonts.scss";
@include google-font( 'Roboto' );
.overvieww{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
    font-family: "Roboto";
    font-weight: 500;
    font-size: small;
    
    a{
        color: black;
    }
}

.timefield{
    margin: 2%;
    
    Button{
        border:1px solid;
        border-radius: 10%;
        padding: 1%;
        background-color: unset;
        color: unset;
        border-color: unset;
        
        
    }:hover{
        background-color:#336600;
        transition: ease-in 0.2s;
        color: white;
    }

}

.charts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 70%;
}
.info{
    width: 100%;
    background-color:#c0c0c023;
    padding:5%;
    margin: 1%;
    height: fit-content;
    // border: 1px  solid black;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);

}
.transaction{
    width: 50%;
    background-color: #c0c0c023;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    height: fit-content;
    padding: 1%;
    margin: 1%;
}
.Error{
    color: red;
}