.overvieww{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
}
.timefield{
    margin: 2%;
}
.charts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 70%;
}
// .info{
//     margin-left: 10%;
// }