.container{

    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
    flex-basis: 20px;
    width: 100vw;
    div{
        margin: 1%;
    }
}
.chart{
    width: 25%;
    height: 25%;
}

