@import "node_modules/sass-google-fonts/src/GoogleFonts.scss";
@include google-font( 'Roboto' );
.container{
    position: relative;
    top: 5%;
    left: 100%;
    width: 22vw;
    min-width: fit-content;

    height: fit-content;
    border-radius: 5%;
    padding: 5%;
    font-family: "Roboto";
    font-weight: 500;
    font-size: small;
    background-color: #c0c0c023;
    margin: 7%;
    border: 1px solid #4285F4 ;
    animation-name: ani;
    animation-duration: 0.8s;



}
.row{
    width: 100%;
    border-bottom: 1px solid rgba(25, 24, 24, 0.637);
}
.small{
    font-size: smaller;

}
.logo{
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-right: 5px;
    padding: 2px;



  }
.fullrow{
    display: flex;
    width: 100%;
    flex-direction: row;
    :hover{
        color: #4285F4;
        transition: 0.2s;
        cursor: pointer;
    }
}
@keyframes ani{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}